.DS_Store

# Rust
target/
pkg/
# Cargo.lock


# Elixir
.elixir_ls
_build/
deps/

# Ignore package tarball (built via "mix hex.build").
rustler_precompilation_example-*.tar

# Temporary files, for example, from tests.
/tmp/

# Ignore the generated "native" dir from Rustler
/priv/native/

# checksum file should only be included in Hex packages
checksum-*.exs
